{% extends 'default.html' %}

{% block title %}Ad{% endblock title %}

{% block content %}
    <br><br>
    {% autoescape off %}
    <h2>{{ post.title }}</h2><br>
    <span>{{ post.text }}<br></span>
    {% endautoescape %}
    <hr>
    <span>Автор: {{ post.author }}</span>
    <span>| Категория: {{ post.get_category_display }}</span>
    <span>| Дата публикации: {{ post.dateCreation|date:'d-M-Y f' }}</span>

    <br><br>

    <a class="btn btn-secondary" href="{% url 'index' %}" role="button">Close</a>
    <a class="btn btn-secondary" href="/post/{{ post.id }}/edit" role="button">Edit</a>
    <a class="btn btn-secondary" href="/post/{{ post.id }}/delete" role="button">Delete</a>

    {% if user.is_authenticated %}
    <br><br>
        {% if respond == "responded" %}
            <a style="color:red">You have responded to this advertisement.</a><br>
            <a href="{% url 'responses' %}">View your responses</a>
        {% elif respond == "My_ad" %}
            <a style="color:red">You cannot respond to your ad.</a><br>
        {% else %}
            <a class="btn btn-secondary" href="/respond/{{ post.id }}" role="button">Reply</a>
        {% endif %}
    {% endif %}
    <br><br>
{% endblock content %}
